/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_main {
  margin: 33px;
}

.home_main h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.home_main p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}


/*booksのcss*/
/*-----------------------*/
.books_main {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.books_main h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.books_main td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.filed {
  display: block;
  margin-bottom: 10px;
}

form {
  display: block;
}

label {
  display: block;
}

input {
  display: block;
}


/*詳細ページのcss*/
/*---------------------*/

.show_main {
  margin: 33px;
}

.show_main p {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
}


/*編集ページのcss*/
/*------------------------*/

.edit_main {
  margin: 33px;
}

